h1, h2 {
    color: purple;
    font-size: 96px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 5px;
}

img {
    height: 320px;
}
#first {
    text-align: left;
}
/* #second {
    text-align: right;
} */
.right {
    text-align: right;
}
.tacos {
    color: seagreen;
}
.big {
    font-size: 32px;
}
p.tacos .big{
    font-size: 48px
}

p {
    text-align: center;
    font-family: helvetica;
}